name: CI

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        ruby: ['head', '4.0', '3.4', '3.3', '3.2']

    continue-on-error: ${{ matrix.ruby == 'head' }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Run tests
        run: bundle exec rake test

      - name: Keep screenshots from failed system tests
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: screenshots
          path: ${{ github.workspace }}/tmp/screenshots
          if-no-files-found: ignore

      - name: standardrb lint code for consistent style
        run: bundle exec standardrb

      - name: bundle-audit patch-level verification for gem
        run: bundle exec bundle-audit check --update

      - name: bundler-integrity verification of checksum integrity against RubyGems API
        run: bundle exec bundler-integrity
